@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ANIMATIONS */



/* VARIABLES */
:root
{
    /* COLORS */
    --body-bgcolor : #E8F2EF;
    --container-bgcolor : #E8F2EF;
    --screen-bgcolor : grey;
    --footer-bgcolor : #EC417A;
    

    --location-icon-color : #FFFFFF;
    --seat-icon-color : #5C889D;
    --availableseats-icon-color : #5C889D;
    --bookedseats-icon-color : #b7e2e6;
    --selectedseats-icon-color : #E64C83;

    --movie-title-fontcolor : #FFFFFF;
    --cinema-location-fontcolor : #FFFFFF;
    --footer-fontcolor : #FFFFFF;
    

    /* FONTS */
    --general-font : "Fira Sans", serif;
}


/* HTML + BODY */
html
{
    height: 100%;
}



body
{
    min-height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url("https://www.looper.com/img/gallery/the-ending-of-the-hobbit-an-unexpected-journey-explained/no-place-amongst-us-1660870600.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--body-bgcolor); */
    font-family: var(--general-font);
    overflow: hidden;
    padding: 10px;
}

body::before
{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* STLYING */

.container
{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: .75rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
    border-radius: .85rem;
    background-color: var(--container-bgcolor);
}

.container > .header
{
    width: 100%;
    height: 160px;
    background : url("https://github.com/GeorgioIO/ICodeThisImages/blob/main/thehobbit.png?raw=true");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 15px 8px 15px;
    gap: 5px;
    border-top-left-radius: .85rem;
    border-top-right-radius: .85rem;
    box-shadow: inset 0px 0px 30px 10px rgb(0, 0, 0);
}

.header > #playButton
{
    margin-bottom: auto;
    cursor: pointer;
}
.header > h3
{
    font-size: 15px;
    color: var(--movie-title-fontcolor);
}

.header > .location
{
    display: flex;
    align-items: center;
    gap: 2px;
}

.location > #locationIcon path
{
    fill: var(--location-icon-color);
}

.location > p
{
    font-size: 13px;
    color: var(--cinema-location-fontcolor);
}

.container > .body
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 15px 8px 15px;

}

.body > .seats-keys
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.seats-keys > .key
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}



.seats-keys > .key#available > svg
{
    fill: var(--availableseats-icon-color);
}

.seats-keys > .key#booked > svg
{
    fill: var(--bookedseats-icon-color);
}

.seats-keys > .key#selected > svg
{
    fill: var(--selectedseats-icon-color);
}

.body > .seats-container 
{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.seats-container > .row
{
    display: grid;
    grid-template-columns: 0.3fr repeat(9 , 1fr);
    width: 100%;
    justify-items: center;
    
    align-items: center;
}

.row > p
{
    font-size: 12px;
    color: grey;
}

.row > svg
{
    cursor: pointer;
    fill: var(--seat-icon-color);
    transition: all ease-in-out 400ms;
}

.row > svg:hover
{
    --seat-icon-color : #456574;
}

.row > svg.bookedseat 
{
    --seat-icon-color : var(--bookedseats-icon-color);
    cursor:not-allowed;
}

.row > svg.availableseat
{
    --seat-icon-color : var(--availableseats-icon-color);
}

.row > svg.selectedseat
{
    --seat-icon-color : var(--selectedseats-icon-color);
}

.screen-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 100%;
    height: 100px;
    position: relative;
}

.screen-container > p
{
    --font-color : grey;
    color: var(--font-color);
    transform: translateY(10px);
}

.screen-container > .curved-line 
{
    width: 100%;
    height: 30px;
    border-radius: 50%/20px;
    border-bottom: 4px solid var(--screen-bgcolor);
}

.container > .footer
{
    background-color: var(--footer-bgcolor);
    display: flex;
    align-items: center;
    color: var(--footer-fontcolor);
    border-bottom-right-radius: .85rem;
    border-bottom-left-radius: .85rem;

}

.footer > *
{
    padding: 8px 15px 15px 15px;
}

.footer > .footer-titles
{
    --bg-color : #DC3669;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom-left-radius: .85rem;
}

.footer > .footer-values
{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.footer > .footer-button
{
    width: 120px;
    height: 70px;
}

.footer-button > button
{
    --outline : transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .65rem;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--general-font);
    border: none;
    outline: 2px solid var(--outline);
    transition: all ease-in 400ms;
}

.footer-button:hover button
{
    --outline : black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.534);
    
}
